body { margin: 0; padding: 0; }

#map {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - 300px);
  height: calc(100% - 80px);
}

#header {
  background-color: #006B00;
  height: 80px;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  position: fixed;
  top: 0;
}

#fcsa-logo {
  width: 300px;
  position: absolute;
  margin-top: 10px;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#info {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  height: calc(100% - 80px);
  padding: 20px;
  font-family: sans-serif;
}