body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#map {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - 500px);
  height: calc(100% - 80px);
}

#header {
  background-color: #006B00;
  height: 80px;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  position: fixed;
  top: 0;
}

#header > a {
  color: white;
  position: fixed;
  right: 17%;
  top: 0;
  line-height: 80px;
}

#fcsa-logo {
  width: 300px;
  position: absolute;
  margin-top: 10px;
}

#centercontent {
  width: 600px;
  margin-left: calc(50% - 320px);
  margin-top: 150px;
  padding: 20px;
  background-color: #f4f7f8;
}

#centercontent > h1 {
  text-align: center;
}

.inputbox {
  display: inline-block;
  margin-bottom: 10px;
}

.inputbox > label {
  font-size: 16px;
  display: block;
}

.inputbox > input {
  width: 95%;
  height: 25px;
  font-size: 16px;
}

.inputbox > select {
  width: 95%;
  height: 25px;
  font-size: 16px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 4;
}

.inputbox.full {
  width: 100%;
}

.inputbox.half {
  width: 44.5%;
}

.inputbox.third {
  width: 31.67%;
}

button {
  padding: 12px;
  font-size: 16px;
  border: none;
  background-color: #006B00;
  color: white;
  border-radius: 3px;
}

#addbutton {
  text-align: center;
  display: inline;
  width: 100%;
  display: block;
}

.mapboxgl-popup {
  width: 300px;
  height: 100px;
  font: 16px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mapboxgl-popup-close-button {
  color: black;
}

#info {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 480px;
  height: calc(100% - 120px);
  padding: 20px;
  overflow-y: scroll;
}

#remove {
  background-color: grey;
  padding: 2px;
  height: 30px;
  margin: 4px;
}