{% extends "base.html" %}

{% block title %}DS Demo{% endblock %}

{% block content %}
  <div id="map"></div>
  <div id="info">
    <form id="dataForm" onsubmit="handleSubmit(event)">
    <h1>Add a field</h1>
    <h2>Personal Information</h2>
    <div class="inputbox full">
      <label for="cif">CIF*:</label>
      <input type="text" name="cif" required>
    </div>
    <div class="inputbox half">
      <label for="firstname">First Name*:</label>
      <input type="text" name="firstname" required>
    </div>
    <div class="inputbox half">
      <label for="lastname">Last Name*:</label>
      <input type="text" name="lastname" required>
    </div>
    <div class="inputbox half">
      <label for="middlename">Middle Name:</label>
      <input type="text" name="middlename">
    </div>
    <div class="inputbox half">
      <label for="suffix">Suffix:</label>
      <input type="text" name="suffix">
    </div>
    <div class="inputbox full">
      <label for="email">Email*:</label>
      <input type="text" name="email" required>
    </div>
    <div class="inputbox full">
      <label for="phone">Phone Number*:</label>
      <input type="text" name="phone" required>
    </div>
    <div class="inputbox half">
      <label for="state">State:</label>
      <select id="state" name="state">
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="DC">District of Columbia</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
      </select>
    </div>
    
    <div class="inputbox half">
      <label for="country">Country:</label>
      <select id="state" name="country">
        <option value="">United States</option>
      </select>
    </div>

    <h2>Field Selection</h2>
    <p id="info-title"></p>
    <p id="info-desc">Click any field to select</p>
    
    <h2>Farm Data Input</h2>
    <div class="inputbox full">
      <label for="address">Farm Full Address*:</label>
      <input type="text" name="address" required>
    </div>
    
    <div class="inputbox half">
      <label for="county">County*:</label>
      <input type="text" name="county" required>
    </div>

    <div class="inputbox half">
      <label for="zipcode">Zip Code*:</label>
      <input type="text" name="zipcode" required>
    </div>
    
    <div class="inputbox half">
      <label for="industry">Industry*:</label>
      <input type="text" name="industry" required>
    </div>
    
    <div class="inputbox half">
      <label for="owner">Land <Owner></Owner>:</label>
      <input type="text" name="owner" required>
    </div>
    
  <h2>Crops</h2>
  <div id="crops"></div>
  <button type="button" onclick="addCrop()">Add Crop</button>

  <h2>Livestock</h2>
  <div id="livestock"></div>
  <button type="button" onclick="addLivestock()">Add Livestock</button>

  <br>
  <br>
  <br>
  <button type="submit">Submit</button>

</form>
  <template id="cropTemplate">
    <div>
      <div class="inputbox half">
        <label>Crop Type:</label><input type="text" name="cropType[]" required>
      </div>
      <div class="inputbox half">
        <label>Industry:</label><input type="text" name="cropIndustry[]" required>
      </div>
      <button type="button" id="remove" onclick="removeElement(event)">Remove</button>
    </div>
</template>

<template id="livestockTemplate">
    <div>
      <div class="inputbox half">
        <label>Year: </label>
        <input type="number" name="livestockYear[]" min="1990" max="2020" required>
      </div>
      <div class="inputbox half">
        <label>Livestock Type: </label>
        <input type="text" name="livestockType[]" required>
      </div>
        <button type="button" id="remove" onclick="removeElement(event)">Remove</button>
    </div>
</template>
  </div>
{% endblock %}

{% block scripts %}
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js'></script>
  <script src="/static/script.js"></script>
  <script>
function addCrop() {
  let crops = document.getElementById('crops');
  let cropCount = crops.children.length;
  let cropTemplate = document.getElementById('cropTemplate').content.cloneNode(true);
  let cropTypeInput = cropTemplate.querySelector('input[name="cropType[]"]');
  let cropIndustryInput = cropTemplate.querySelector('input[name="cropIndustry[]"]');
  cropTypeInput.name = `cropType[${cropCount}]`;
  cropIndustryInput.name = `cropIndustry[${cropCount}]`;
  crops.appendChild(cropTemplate);
}

function addLivestock() {
  let livestock = document.getElementById('livestock');
  let livestockCount = livestock.children.length;
  let livestockTemplate = document.getElementById('livestockTemplate').content.cloneNode(true);
  let livestockYearInput = livestockTemplate.querySelector('input[name="livestockYear[]"]');
  let livestockTypeInput = livestockTemplate.querySelector('input[name="livestockType[]"]');
  livestockYearInput.name = `livestockYear[${livestockCount}]`;
  livestockTypeInput.name = `livestockType[${livestockCount}]`;
  livestock.appendChild(livestockTemplate);
}

    function removeElement(e) {
      e.target.parentElement.remove();
    }

    async function handleSubmit(e) {
      e.preventDefault();
      const form = document.getElementById('dataForm');
      const formData = new FormData(form);
      
      // Send the form data to the Flask backend
      const response = await fetch('/submit-data', {
        method: 'POST',
        body: formData,
      });

      if (response.ok) {
        const result = await response.json();
        alert(result.message);

    // Redirect to a success page or any other page you'd like
    window.location.href = '/fields';
      } else {
        alert('Error submitting data');
      }
    }

  </script>
{% endblock %}
